//UTILS
@import "utils/function";
@import "utils/mixin";
@import "utils/utiliti";
@import "utils/variable";

//BASE
@import "base/reset";

@import './shared/SwitchButton.scss';
@import './shared/card';
@import './shared/secondCard';
@import "./shared/userProfile";
@import "./shared/circle";
@import "./shared/importantArticleCard";
@import "./shared/demoSwitchButton";

@import './layout/navigation';
@import "./banner/banner";
@import "./component/aboutUs";
@import "./component/companyServices";
@import "./component/watchVideo";
@import "./component/coreFeature";
@import "./component/whatWeDo";
@import "./component/whatWe";
@import "./component/mmetOurAsdvisor";
@import "./component/importantArticle";
@import "./component/meetOurAdvisorSecond";