.card {
    &_container {
        width: 30rem;
        background-color: white;
        display: inline-block;
        text-align: center;
        padding: 3rem 2rem;
        box-sizing: border-box;
        // margin: 1rem;
    }

    &_icon_div {
        padding: 1.5rem 0;
    }

    &_icon {

    }

    &_detail_des {
        font-size: 1.4rem;
        padding-top: .5rem;
    }

    &_down_arrow {
        margin-top: 1.5rem;
    }
}

.card_container {
    &_wrapper {
        width: 30rem;
        display: inline-block;
        margin: 1rem;
        cursor: pointer;
        transition: all .2s ease-out;

        &:hover .card_container_down_border {
            background-color: var(--color-Primary);
        }
    }

    &_down_border {
        width: 80%;
        height: .8rem;
        background-color: #d0d0d0;
        margin: auto;
        transition: all .3s ease-out;
    }
}