.card {
    &_container {
        width: 18rem;
        background-color: white;
        display: inline-block;
        text-align: center;
        padding: 1rem;
        margin: 1rem;
    }

    &_icon_div {
        padding: .8rem 0;
    }

    &_icon {

    }

    &_detail_des {
        font-size: 10px;
        padding-top: .5rem;
    }

    &_down_arrow {
        padding-top: 1rem;
    }
}