.circle {
    &_container {
        // background-color: red;
        margin: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // width: 40%;
    }

    &_title {
        margin-top: 2rem;
        font-size: 1.4rem;
        color: black;
        text-align: center;
    }
}

.GHHG {
    cursor: pointer;
    // background-color: green;
}
