.circle {
    &_container {
        display: inline-block;
    }

    &_title {
        margin-top: -5rem;
        font-size: .8rem;
    }
}


.circleBg {
    stroke:  #f5f5f5;
    stroke-width: 1.5rem;
}

.circle {
    --ratio: 0.75;
    stroke-dasharray: 328px; /* 2*PI*r */
    stroke-dashoffset: calc(628 * (1 - var(--ratio)));
    stroke:  #ff4917;
    stroke-width: 1.5rem;
    transform: rotate(-90deg);
    transform-origin: center;
}
