.second_card {
    &_container {
        position: relative;
        width: 35rem;
        height: 36rem;
        margin: 1rem;
    }

    &_join_us {
        font-weight: 300;
    }
}



.second_card_top_div {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-Primary);
    opacity: .8;
    clip-path: polygon(0 37%, 0% 100%, 100% 100%);
    z-index: 90;
}

.second_card_bottom_top_div {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-Primary);
    opacity: .6;
    clip-path: polygon(0 27%, 100% 90%, 100% 100%, 0% 100%);
    z-index: 80;
}

.second_card_image {
    width: 100%;
    height: 100%;
}
.second_card_info_div {
    position: absolute;
    left: 7%;
    bottom: 7%;
    color: white;
    width: 100%;
    z-index: 100;
}

.second_card_colo {
    position: absolute;
    left: 0;
    bottom: 0;
}