.second_card_container {
    position: relative;
    width: 33rem;
    height: 36rem;
    margin: 1rem;
    // clip-path: polygon(0 37%, 0% 100%, 100% 99%);
}

.second_card_top_div {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: orange;
    clip-path: polygon(0 37%, 0% 100%, 100% 100%);
    z-index: 90;
}

.second_card_bottom_top_div {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    clip-path: polygon(0 27%, 100% 90%, 100% 100%, 0% 100%);
    z-index: 80;
}

.second_card_image {
    width: 100%;
    height: 100%;
}
.second_card_info_div {
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
    width: 100%;
    // height: 30%;
    z-index: 100;
    // background-color: red;
}

.second_card_colo {
    position: absolute;
    left: 0;
    bottom: 0;
}