.company_services {
    &_container {
        width: 100%;
        background-color: #f5f5f5;
        padding: 5rem 0;
    }

    &_content {
        width: 80%;
        margin: auto;
        text-align: center;
    }
}