.important_article {
    &_container {
        width: 60%;
        margin: auto;
        padding: 10rem 0;
    }

    &_logo_container {
        display: flex;
        justify-content: space-between;
        padding-bottom: 15rem;
        border-bottom: .3rem solid black;

        p {
            padding: 2rem 4rem;
            border-radius: .4rem;
            background-color: #f5f5f5;
            cursor: pointer;

            &:hover {
                background-color: var(--color-Primary);
                color: white;
            }
        }
    }

    &_content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8rem 0 6rem;
    }

    &_card_div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
