.watch_video {
    &_container {
        position: relative;
        width: 100%;
        z-index: 100;
    }

    &_shadow {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 98%;
        background-color: black;
        opacity: .4;
    }

    &_info {
        &_content {
            position: absolute;
            left: 20%;
            top: 0;
            padding-top: 10vh;
            width: 37%;
            z-index: 300;
            color: white;
            z-index: 700;
        }
    }
}

.play_button {
    position: absolute;
    right: 20%;
    top: 50%;
    transform: translateY(-50%);
    width: 12rem;
    height: 12rem;
    cursor: pointer;
    outline: 2px solid white;
    outline-offset: 1rem;
    border-radius: 50%;

    &_icon {
        width: 5rem;
        height: 5rem;
        left: 50%;
        top: 50%;
        position: absolute;
        background-color: var(--color-Primary);
        transform: translate(-50%, -50%);
        clip-path: polygon(85% 49%, 29% 16%, 30% 86%);
    }

    &_icon_pause {
        width: 2.5rem;
        height: 2.9rem;
        left: 50%;
        top: 50%;
        position: absolute;
        // background-color: var(--color-Primary);
        transform: translate(-50%, -50%);
        // clip-path: polygon(85% 49%, 29% 16%, 30% 86%);

        &_left {
            width: 1rem;
            height: 100%;
            background-color: var(--color-Primary);
            margin-right: .5rem;
            display: inline-block;
        }

        &_right {
            width: 1rem;
            height: 100%;
            background-color: var(--color-Primary);
            display: inline-block;
        }
    }
    

    &_content {
        background-color: white;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        position: relative;
    }
}

