.watch_video {
    &_container {
        position: relative;
        width: 100%;
        height: 65vh;
    }

    &_info {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: .3;

        &_content {
            padding-top: 10vh;
            width: 37%;
            // background-color: red;
            color: white;
            margin-left: 15%;
        }
    }
}

