.what_we {
    &_container {
        width: 100%;
        background-color: #f5f5f5;
        // margin-top: 30vh;
        position: relative;
        height: 85vh;
    }

    &_content {
        width: 60%;
        margin: auto;
        position: relative;
        &_top {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -40%;
            width: 100%;
        }
    }

    &_achivement {

        &_container {
            // position: absolute;
            // width: 100%;
            // left: 50%;
            // transform: translateX(-50%);
            // bottom: 10%;
            padding-top: 45vh;
        }
        margin: 5rem 0;
        text-align: center;
        display: inline-block;

        &_number {
            font-size: 2.5rem;
        }

        &_type {
            font-size: 1.4rem;
        }
    }
}

.what_we_achivement_container {
    display: flex;
    justify-content: space-around;
}
